<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bestsolution.at/persistence/emap/EMap" 
       class = "at.bestsolution.persistence.emap.eMap.EMapPackage"
       genModel = "at/bestsolution/persistence/emap/EMap.genmodel" /> 
	
  </extension>



</plugin>
