{
	baseDir : "C:\bizerba\workspaces\emap\"
	database : [
		{
			name : "Oracle",
			jdbcDriver : "",
			jdbcUrl : "",
			username : "",
			password : ""
		}
	]
	projects : [
		"com.bizerba.basic.model.emapping",
		"com.bizerba.retail.usermanagement.model.emapping",
		"com.bizerba.retail.alerting.model.emapping",
		"com.bizerba.basic.preferences.model.emapping",
		"com.bizerba.retail.job.service.model.emapping"
		"com.bizerba.retail.model.emapping"
		"com.bizerba.retail.mon.model.emapping",
		"com.bizerba.retail.server.model.emapping",
		"com.bizerba.retail.statistic.model.emapping",
		"com.bizerba.retail.template.model.emapping",
		"com.bizerba.retail.transaction.expand.model.emapping"
	]
	initScripts : [

	]
}