<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Test -->
      <package
            uri="test"
            class="test.model.test.TestPackage"
            genModel="model/Test.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MixedKeys -->
      <package
            uri="mixedkeys"
            class="test.model.mixedkeys.MixedkeysPackage"
            genModel="model/MixedKeys.genmodel"/>
   </extension>

</plugin>
